<h1><%= t('ラベル一覧ページ') %></h1>

<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr>
        <th><%= Label.human_attribute_name("名前") %></th>
        <th><%= Label.human_attribute_name("タスク数") %></th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @labels.each do |label| %>
        <tr class="user-title">
          <td><%= label.name %></td>
          <td><%= label.tasks.count %></td>
          <td><%= link_to t('common.edit'), edit_label_path(label), class: "btn btn-info text-white edit-label" %></td>
          <td><%= link_to t('common.destroy'), label, method: :delete, data: { confirm: t('common.confirm_destroy') }, class: "btn btn-outline-danger destroy-label text-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
