<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Default Title" %></title>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% if logged_in? %>
        <ul>
          <li><%= link_to t('navigation.users_index'), users_path, id: "users-index"%></li>
          <li><%= link_to t('navigation.add_user'), new_admin_user_path, id: "add-user"%></li>
          <li><%= link_to t('navigation.tasks'), tasks_path, id: "tasks-index"%></li>
          <li><%= link_to t('navigation.new_task'), new_task_path, id: "new-task"%></li>
          <li><%= link_to t('navigation.account_setting'), user_path(current_user.id), id: "account-setting"%></li>
          <li><%= link_to t('navigation.sign_out'),session_path(current_user.id), method: :delete, id: "sign-out"%></li>
          <p id="notice"><%= notice %></p>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to "アカウント登録", new_user_path, id: "sign-up" %>
          <li><%= link_to "ログイン", new_session_path, id: "sign-in"%>
        </ul>
      <% end %>
    <%= yield %>
  </body>
</html>
